
#contact_page{
	text-align: center;
}
#main_photo{
	text-align: center;
	width: 80%;
	height: 900px;
    top: 0;
    left: 0;
    bottom: 0;
    display:  width: 100px;
    display: height: 100px;
    display: background-position: center top;
    display: background-position-x: center;
    display: background-position-y: top;
    display: background-repeat: no-repeat;
    display: background-repeat-x: no-repeat;
    display: background-repeat-y: no-repeat;
    display: background-size: cover;
    z-index: 1;
}
#all-info{
	text-align: center;
    width:60%;
    z-index: 2;
    background-color: rgba(255,250,255,0.6);
    position:absolute;
    left: 20%;
    top:110px;
    padding: 20px;
    font-size: large;
}
#navi_bar{
	height: 50px;
	background-color: #3A3431;
	margin-bottom: 40px;
	color: white;
}
#navi_bar h4{
	display: inline-block;
	text-align: center;
	margin-top: 15px;
	margin-right: 30%;
}
#navi_bar a .menu_logo , .logo{
   vertical-align: middle;
}
#navi_bar .contact_tag{
	color: white;
}
#first_name , #last_name , #e_mail , #mobile{
	border-radius: 7px;
    height: 40px;
}
#message{
	vertical-align: middle;
	border-radius: 7px;
	height: 100px;

}
#first , #last , #mail , #mob{
    background-color: rgba(79,40,26,0.4);
	color: #F2E66A;
	border-radius: 7px;
	padding-bottom: 7px;
	padding-top: 7px;
}
#msg{
	background-color: rgba(79,40,26,0.4);
	color: #F2E66A;
	border-radius: 7px;
	padding-bottom: 7px;
	padding-top: 7px;
	margin-top: 35px;
}
#error{
	background-color: rgba(79,40,26,0.4);
	color: #FF8654;
	border-radius: 7px;
	padding-bottom: 7px;
	padding-top: 7px;
}
#thanksMessage{
	color: #FF8654;
	border-radius: 7px;
	width: 200px;
	font-size: 25px;
	padding: 12px;
}
#footer{
	text-align: center;
	vertical-align: middle;
	height: 50px;
	background-color: #3A3431;
	color: white;
}
#facebookLogo , #twitterLogo , #instagramLogo{
	margin-right: 80px;
	margin-top: 15px; 
}
.menu_logo{
	margin-left: 30px;
	margin-right: 30%;
}
.logo{
	margin-right: 3%;
}
h3{
	color: white;
	margin-bottom: 40px;
}
#form label{
	color: #3A3431;
}





















